header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

body {
    background-color: lightblue;
}

#brand_name {
    font-size: 2em;
    color: darkblue;
    position: relative;
}

#brand_name span::before {
    content: attr(data-text);
    position: absolute;
    color: black;
    overflow: hidden;
    animation: scrolling 2s linear infinite;
}

@keyframes scrolling {
    0%, 100% {
        width: 0%;
    }
    90% {
        width: 100%;
    }
}

#home {
    padding: 10%;
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
    border-radius: 50%;
    animation-name: color_change;
    animation-duration: 4s;
    animation-iteration-count:infinite;
}

@keyframes color_change {
    0% {color:  darkblue;}
    50% {color: skyblue;}
    100% {color: darkblue;}
}

.nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.nav li:hover {
    transform: scale(1.2);
}

.nav li a {
    font-size: 20px;
    text-decoration: none;
    color: darkblue;
    padding: 3em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(47, 3, 42, 0.2);
    width: 40%;
    color: darkblue;
    padding: 30px;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: transparent;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(43, 14, 43, 0.5);
}

h1 {
    text-align: center;
}

ul q {
    font-style: italic;
}


#skillset {
    padding: 10%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto;
    row-gap: 10px;
    column-gap: 10px;
}

#skillset div {
    align-items: center;
}

#experience p {
    padding: 20px;
}


#contact ul {
    padding: 20px;
    list-style: none;
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: auto auto;
    font-size: small;
    font-weight: lighter;
}

#contact ul li:hover {
    transform: scale(1.2);
}

.scroll_up {
    font-size: 20px;
    float: right;
    background-color: darkblue;
    border: none;
    animation-name: vibrate;
    animation-iteration-count:infinite;
    animation-duration: 4s;
}

.note {
    text-align: center;
    color:darkblue;
    font-size: 20px;
}

.note span {
    text-decoration: underline;
}

@media screen and (max-width: 1300px) {
    .card {
        width: 100%;
    }
}

video {
    /* padding-top: 10px; */
    margin-top: 1em;
    width: 100%;
}